{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
<div class="login_bg">
    <div class="w-50 mx-auto py-5">
        <h3 class="mt-5 pt-5 mb-4">Change password</h3>
        <p class="alert alert-danger w-50" id="changePassErrors" style="display: none;"></p>
        {{ form_start(form)}}
        {{ form_widget(form) }}
        <br>
        <button class="btn blue-button" type="submit">Change</button>
        {{ form_end(form)}}
    </div>
</div>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('changePassword') }}
    {% endblock %}

{% endblock %}