{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{#{%  block stylesheets %} {{ encore_entry_link_tags('')}} {% endblock %}#}

{% block body %}

    <div class="banner">
        <div class="image-container">
            <img src="{{ asset('build/images/home-bg.png') }}" alt="home_background" class="home-image img-fluid">
        </div>
        <div class="care">
            <h1>We care about your hair!</h1>
        </div>
    </div>
    {% if app.user %}
        {% if 'ROLE_SALON_OWNER' in app.user.roles %}
            <h1>Salon owner</h1>

        {% endif %}
    {% endif %}
    <div class="rate">
        <div class="title">
            <h1>Highest Rated Hair Salons</h1>
            <img src="{{ asset('build/images/stars.png') }}" alt="stars">
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('header') }}
{% endblock %}