{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div class="banner">
        <div class="image-container">
            <img src="{{ asset('build/images/home-bg.png') }}" alt="home_background" class="home-image img-fluid">
        </div>
        <div class="care">
            <h1>We care about your hair!</h1>
        </div>
    </div>
    <div class="search mx-auto mb-5 text-center searchCity">
            <h3 class="my-3 fw-bold">Find your nearest professional hair salon!</h3>
            <form method="get" action="{{ path('app_salon') }}" class="mx-auto">
                <select name="city" class="form-select w-75 mx-auto js-example-basic-single">
                    <option value="0">Select your city...</option>
                    {% set len = cities|length - 1 %}
                    {% if cities|length == 0 %}
                        <option value="empty">No cities</option>
                    {% else %}
                        {% for i in 0..len %}
                            <option value="{{ cities[i].city }}">{{ cities[i].city }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <br>
                <button class="btn w-75 blue-button" type="submit">Search</button>
            </form>
    </div>
    <div class="rate">
        <div class="title">
            <h1>Highest Rated Hair Salons</h1>
            <img src="{{ asset('build/images/stars.png') }}" alt="stars">
        </div>
        <div>
        {% set len = salons|length - 1 %}

        {% if cities|length == 0 %}
            <h1>There are no cities in database!</h1>
        {% else %}
            {% for i in 0..len %}
                <div class="border p-2 my-4 mx-auto home-card">
                    <a href="{{ path('app_salon_by_id', {'id': salons[i].id}) }}" class="text-decoration-none text-black one-salon">
                        <div class="p-2">
                            <img class="salon-img" src="{{ asset('build/images/uploads/'~ salons[i].imagePath) }}" alt="img" width="200" height="200">
                        </div>
                        <div class="ps-3 pt-2">
                            <h2>{{ salons[i].name }}</h2>
                            <div class="d-flex mb-3">
                                {% set rate =  0 %}
                                {% if salons[i].rate > 0 %}
                                    {% set rate = salons[i].rate | round(0,'floor') %}
                                    {% for i in 1..rate %}
                                        <img src="{{ asset('build/images/star_icon.png') }}" alt="star" width="22" height="22">
                                    {% endfor %}
                                {% endif %}
                                {% set missing_rate = 5 -  rate %}
                                {% for i in 1..missing_rate %}
                                    <img src="{{ asset('build/images/empty_star_icon.png') }}" alt="empty star" width="22" height="22">
                                {% endfor %}
                            </div>
                            <h5>
                                <img src="{{ asset('build/images/location_icon.png') }}" alt="location" width="20" height="20">
                                {{ salons[i].city }}
                            </h5>
                            <p>
                                <img src="{{ asset('build/images/info_icon.png') }}" alt="info" width="20" height="20">
                                {{ salons[i].description | slice(0,200) ~ '...' }}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('header') }}
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
{% endblock %}