{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{#{%  block stylesheets %} {{ encore_entry_link_tags('')}} {% endblock %}#}

{% block body %}

    <div class="banner">
        <div class="image-container">
            <img src="{{ asset('build/images/home-bg.png') }}" alt="home_background" class="home-image img-fluid">
        </div>
        <div class="care">
            <h1>We care about your hair!</h1>
        </div>
    </div>
    {% if app.user %}
        {% if 'ROLE_SALON_OWNER' in app.user.roles %}
            <h1>Salon owner</h1>

        {% endif %}
    {% endif %}
    <div class="rate">
        <div class="title">
            <h1>Highest Rated Hair Salons</h1>
            <img src="{{ asset('build/images/stars.png') }}" alt="stars">
        </div>
        <div>
        {% set len = salons|length - 1 %}
        {% for i in 0..len %}
            <div class="card shadow w-50 mx-auto my-3">
                <a href="{{ path('app_salon_by_id', {'id': salons[i].id}) }}" class="text-decoration-none text-black d-block">
                <img src="{{ asset('build/images/uploads/' ~ salons[i].imagePath) }}" class="card-img-top" alt="salon image" width="250" height="250">
                <div class="card-body">
                    <h5 class="card-title">{{ salons[i].name }}</h5>
                    <p class="card-text">
                         {% set rate = salons[i].rate | round(0,'floor') %}
                        {% set missing_rate = 5 -  rate %}
                        {% for i in 1..rate %}
                            <img src="{{ asset('build/images/star_icon.png') }}" alt="star" width="22" height="22">
                        {% endfor %}
                        {% for i in 1..missing_rate %}
                            <img src="{{ asset('build/images/empty_star_icon.png') }}" alt="empty star" width="22" height="22">
                        {% endfor %}
                    </p>
                </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}