{% extends 'base.html.twig' %}

{% block title %}All Salons{% endblock %}

{% block body %}
<div class="plant-bg plant-height">
    <div class="container-fluid">

        <form action="{{ path('app_salon') }}" method="get" class="text-center searchCity salon-card mx-auto mb-4">
            <h3 class="mb-4 fw-bold">Find your salon by searching its name!</h3>
            <input type="text" placeholder="Search..." name="salonName" class="form-control w-50 mx-auto">
            <button type="submit" class="btn blue-button w-50">Find</button>
        </form>

        {% for salon in salons %}
            <div class="border p-2 my-4 mx-auto salon-card">
                <a href="{{ path('app_salon_by_id', {'id': salon.id}) }}" class="text-decoration-none text-black one-salon">
                    <div class="p-2">
                        <img class="salon-img" src="{{ asset('build/images/uploads/'~ salon.imagePath) }}" alt="img" width="200" height="200">
                    </div>
                    <div class="ps-3 pt-2">
                        <h2>{{ salon.getName }}</h2>
                        <div class="d-flex mb-3">
                            {% set ratings = 0 %}
                            {% for rate in salon.salonRatings %}
                                {% set ratings = ratings + rate.rate %}
                            {% endfor %}
                            {% set rate =  0 %}
                            {% if ratings > 0 %}
                                {% set rate = ratings/salon.salonRatings.count | slice(0,3) %}
                                {% set rate = rate | round(0, 'floor') %}
                                {% for i in 1..rate %}
                                    <img src="{{ asset('build/images/star_icon.png') }}" alt="star" width="22" height="22">
                                {% endfor %}
                            {% endif %}
                            {% set missing_rate = 5 -  rate %}
                            {% for i in 1..missing_rate %}
                                <img src="{{ asset('build/images/empty_star_icon.png') }}" alt="empty star" width="22" height="22">
                            {% endfor %}
                        </div>
                        <h5>
                            <img src="{{ asset('build/images/location_icon.png') }}" alt="location" width="20" height="20">
                            {{ salon.city }}
                        </h5>
                        <p>
                            <img src="{{ asset('build/images/info_icon.png') }}" alt="info" width="20" height="20">
                            {{ salon.shortDescription }}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}

        {% if not salons %}
            <div class="text-center text-white">No salons found.</div>
        {% endif %}
    </div>
</div>

{% endblock %}
