{% extends 'base.html.twig' %}

{% block title %}All Salons{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% for salon in salons %}
            <div class="border w-50 p-2 my-2 mx-auto">
                <a href="{{ path('app_salon_by_id', {'id': salon.id}) }}" class="text-decoration-none text-black d-flex justify-content-evenly">
                <div class="p-2">
                   <img src="{{ asset('build/images/uploads/'~ salon.imagePath) }}" alt="img" width="200" height="200">
                </div>
                <div class="ps-3 pt-2">
                    <h2>{{ salon.getName }}</h2>
                    <div class="d-flex mb-3">
                        {% set ratings = 0 %}
                        {% for rate in salon.salonRatings %}
                            {% set ratings = ratings + rate.rate %}
                        {% endfor %}
                        {% set rate =  0 %}
                        {% if ratings > 0 %}
                            {% set rate = ratings/salon.salonRatings.count | slice(0,3) %}
                            {% set rate = rate | round(0, 'floor') %}
                            {% for i in 1..rate %}
                                <img src="{{ asset('build/images/star_icon.png') }}" alt="star" width="22" height="22">
                            {% endfor %}
                        {% endif %}
                        {% set missing_rate = 5 -  rate %}
                        {% for i in 1..missing_rate %}
                            <img src="{{ asset('build/images/empty_star_icon.png') }}" alt="empty star" width="22" height="22">
                        {% endfor %}
                    </div>
                    <h5>
                        <img src="{{ asset('build/images/location_icon.png') }}" alt="location" width="20" height="20">
                        {{ salon.city }}
                    </h5>
                    <p>
                        <img src="{{ asset('build/images/info_icon.png') }}" alt="info" width="20" height="20">
                        {{ salon.shortDescription }}
                    </p>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
