{% extends 'base.html.twig' %}

{% block title %}Salon {{ salon.name }}{% endblock %}

{% block body %}

    <div class="plant-bg plant-height">
        <div class="container-fluid">
            <div class="w-75 mx-auto my-5 one-salon-card">
                <div class="mt-3 d-flex justify-content-between">
                    <h2 class="ms-5">{{ salon.name }} - Reservation</h2>
                    <div>
                        {# <span>{{ rating.avg_rate | slice(0,3) }}</span>#}
                        {% set rate =  0 %}
                        {% if rating.avg_rate > 0 %}
                            {% set rate = rating.avg_rate | round(0,'floor') %}
                            {% for i in 1..rate %}
                                <img src="{{ asset('build/images/star_icon.png') }}" alt="star" width="22" height="22">
                            {% endfor %}
                        {% endif %}
                        {% set missing_rate = 5 -  rate %}
                        {% for i in 1..missing_rate %}
                            <img src="{{ asset('build/images/empty_star_icon.png') }}" alt="empty star" width="22" height="22">
                        {% endfor %}
                    </div>
                </div>
                <div class="ps-3 pt-3">
                    <div class="d-flex">
                        <div class="p-3">
                            <img src="{{ asset('build/images/uploads/' ~ salon.imagePath) }}" alt="salon photo" width="300" height="300">
                            <div class="mt-3 ms-1">
                                <h5>
                                    <img src="{{ asset('build/images/working_hours_icon.png') }}" alt="hours" width="25" height="25">
                                    Open hours:
                                </h5>
                                <ul style="list-style: none">
                                    {% for work_hour in salon.salonWorkingHours %}
                                        <li><span>{{ work_hour.dayName }}</span> {{ work_hour.openingAt|date('H:i') }} - {{ work_hour.closingAt|date('H:i') }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>


                        <form action="/reservation" method="post">
                            <div class="d-flex">
                                <div style="padding: 15px">
                                    <input type="hidden" name="salon" value="{{ salon.id }}">
                                    <h5><img src="{{ asset('build/images/hairdresser.png') }}" alt="scissor" width="25" height="25">
                                        Choose your hairdresser:</h5>
                                    {% for hairdresser in hairdressers %}
                                        {% if hairdresser.isactive %}
                                            <input type="radio" id="{{ hairdresser.id }}" name="hairdresser" value="{{ hairdresser.getUser().getId() }}">
                                            <label for="hairdresser">{{ hairdresser.user }}</label><br>
                                         {% endif %}
                                    {% endfor %}
                                </div>
                                <div style="padding: 15px">
                                    <h5><img src="{{ asset('build/images/scissor_icon.png') }}" alt="scissor" width="25" height="25">
                                        Services you need:</h5>
                                    {% for service in salon.salonServices %}
                                        <input type="checkbox" id="{{ service.id }}" name="services[]" value="{{ service.id }}" data-duration="{{ service.duration }}">
                                        <label for="services">{{ service.name }} - {{ service.price }} din</label><br>
                                    {% endfor %}
                                </div>
                            </div>
                            <div>
                                <div class="day-container">
                                    <label for="start">Day:</label>

                                    <input type="date" id="start" name="reservationDate" class="input-datepicker">
                                </div>
                                <input type="text" hidden name="td">

                                <div id="freeHours" data-salonId="{{ salon.id }}"></div>
                                <script>
                                    let data = {
                                        hairdresser: '',
                                        date: '',
                                        time: '',
                                        services: []
                                    };
                                    let hairdressers = document.querySelectorAll('[name="hairdresser"]');
                                    let services = document.querySelectorAll('[name="services[]"]');

                                    let reservationDateInput = document.querySelector('input[name="reservationDate"]');

                                    let today = new Date();
                                    let tomorrow = new Date();
                                    tomorrow.setDate(today.getDate()+1)
                                    reservationDateInput.min = tomorrow.toISOString().slice(0, 10);
                                    reservationDateInput.value = tomorrow.toISOString().slice(0, 10);
                                    let twoWeekFromToday = new Date();
                                    twoWeekFromToday.setDate(today.getDate()+14)
                                    reservationDateInput.max = twoWeekFromToday.toISOString().slice(0, 10);

                                    let freeHoursInput = document.querySelector('input[id="freeHours"]');
                                    reservationDateInput.addEventListener('change', (event) => {

                                        let totalDuration = 0;
                                        document.querySelectorAll('input[name="services[]"]').forEach(service => {
                                            if (service.checked) {
                                                totalDuration += Number(service.dataset.duration);
                                            }
                                            document.querySelector('input[name="td"]').value = totalDuration;
                                        })

                                        let salonId = document.getElementById("freeHours").dataset.salonid;
                                        let hId = data.hairdresser;
                                        let wantedDate = event.target.value;
                                        let getFreeHoursUrl = `/getFreeHours?salonId=${salonId}&totalDuration=${totalDuration}&date=${wantedDate}&hairdresser=${hId}`;

                                        // send request
                                        var xhttp = new XMLHttpRequest();
                                        xhttp.onreadystatechange = function() {
                                            if (this.readyState == 4 && this.status == 200) {
                                                let hours = JSON.parse(this.response).data;
                                                let someNicelyFormattedHours = hours;
                                                let freeHoursWrapper = document.getElementById("freeHours");
                                                freeHoursWrapper.innerHTML = "";
                                                let btnHtml = '<div>';
                                                console.log(someNicelyFormattedHours);

                                                if (someNicelyFormattedHours.length) {
                                                    data.date = wantedDate;
                                                    if (data.hairdresser && data.services.length && data.date && data.time) {
                                                        makeReservationBtn.disabled = false;
                                                    } else {
                                                        makeReservationBtn.disabled = true;
                                                    }
                                                }


                                                someNicelyFormattedHours.forEach((h, i, arr) => {
                                                    console.log("i = ", i);
                                                    console.log("h = ", h);

                                                    if (i === 0) {
                                                        btnHtml += `<div>
                                                            <button type="button" class="timeSelectionBtn">${h}</button>
                                                            <input type="radio" name="timeSelection" value=${h} hidden>
                                                        `;
                                                    } else if (i > 0 && (arr[i].substring(0, 2) !== arr[i-1].substring(0, 2))) {
                                                        btnHtml += `</div><div>
                                                            <button type="button" class="timeSelectionBtn">${h}</button>
                                                            <input type="radio" name="timeSelection" value=${h} hidden>
                                                        `;
                                                    } else {
                                                        btnHtml += `
                                                            <button type="button" class="timeSelectionBtn">${h}</button>
                                                            <input type="radio" name="timeSelection" value=${h} hidden>
                                                        `;
                                                    }

                                                    if (i === arr.length-1) {
                                                        btnHtml += `</div>`
                                                    }
                                                });
                                                btnHtml += '</div>';
                                                freeHoursWrapper.insertAdjacentHTML("beforeend", btnHtml);
                                                document.querySelectorAll(".timeSelectionBtn").forEach(el => {
                                                    el.addEventListener("click", function (event) {
                                                        document.querySelectorAll(".timeSelectionBtn").forEach(el=> {
                                                            if (el.classList.contains('selectedTime')) {
                                                                el.classList.remove('selectedTime');
                                                            }
                                                        });
                                                        let v = event.target.innerText;
                                                        document.querySelector(`[value="${v}"]`).checked = true;
                                                        event.target.classList.add('selectedTime');

                                                        data.time = v;

                                                        if (data.hairdresser && data.services.length && data.date && data.time) {
                                                            makeReservationBtn.disabled = false;
                                                        } else {
                                                            makeReservationBtn.disabled = true;
                                                        }
                                                    });
                                                });
                                            }
                                        };
                                        xhttp.open("GET", getFreeHoursUrl, true);

                                        xhttp.send();
                                    });

                                </script>

                            </div>


                            <button id="makeReservationBtn" type="submit" disabled class="btn mt-5 blue-button">Make an appointment</button>

                        </form>
                    </div>

                    <script>
                        let makeReservationBtn = document.getElementById("makeReservationBtn");

                        hairdressers.forEach(hairdresser => {
                            hairdresser.addEventListener("change", function(event) {
                                data.hairdresser = event.target.value;
                                if (data.hairdresser && data.services.length && data.date && data.time) {
                                    makeReservationBtn.disabled = false;
                                } else {
                                    makeReservationBtn.disabled = true;
                                }
                            });
                        });

                        services.forEach(service => {
                            service.addEventListener("change", function(event) {
                                if (event.target.checked) {
                                    data.services.push(event.target.value);
                                } else {
                                    let i = data.services.indexOf(event.target.value);
                                    data.services.splice(i,1);
                                }

                                if (data.hairdresser && data.services.length && data.date && data.time) {
                                    makeReservationBtn.disabled = false;
                                } else {
                                    makeReservationBtn.disabled = true;
                                }
                            });
                        });


                    </script>
                    <br>
                </div>
            </div>
        </div>

    </div>
{% endblock %}