{% extends 'base.html.twig' %}

{% block title %}Hairdresser dashboard{% endblock %}

{% block body %}
    <div class="plant-bg">
    <div class="w-75 mx-auto">
        <h1>Hairdresser</h1>
        <h1 class="mb-4">{{ user.firstname }} {{ user.lastname }} - Reservations</h1>
        {% if reservations %}
        <table class="table table-info align-middle table-hover" id="dataTable">
            <thead>
            <tr>
                <th>Salon</th>
                <th>Hairdresser</th>
                <th>Services</th>
                <th>Start at</th>
                <th>End at</th>
                <th>Cancel</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.getHairdresser().getHairdresserDetails().getSalon().getName() }}</td>
                    <td>{{ reservation.hairdresser }}</td>
                    <td>
                        {% for service in reservation.getReservationServices() %}
                            <p>{{ service.service.getName() }}</p>
                        {% endfor %}
                    <td>
                        {% if reservation.canceled %}
                            {{ reservation.startAt|date('d.m H:i') }} / Canceled
                        {% elseif "now"|date('d.m H:i') <  reservation.startAt|date('d.m H:i') %}
                            {{ reservation.startAt|date('d.m H:i') }}
                        {% else %}
                            Archived
                        {% endif %}
                    </td>
                    <td>
                        {% if reservation.canceled %}
                            {{ reservation.endAt|date('d.m H:i') }} / Canceled
                        {% elseif "now"|date('d.m H:i') <  reservation.endAt|date('d.m H:i') %}
                            {{ reservation.endAt|date('d.m H:i') }}
                        {% else %}
                            Archived
                        {% endif %}
                    </td>
                    <td>
                        {% if reservation.canceled %}
                            <b>Canceled!</b>
                        {% elseif date() >  reservation.endAt %}
                            <button class="btn btn-dark disabled">Cancel</button>
                        {% else %}
                            <button type="reset" class="btn {{ reservation.canceled?"btn-danger":"btn-success" }} "data-toggle="modal" data-target="#modal{{ reservation.id }}">
                                {{ reservation.canceled?"Canceled":"Cancel" }}
                            </button>
                        {% endif %}
                    </td>
                    <div class="modal fade" id="modal{{ reservation.id }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ reservation.id }}Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cancel Reservation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to cancel reservation "{{ reservation.startAt|date('d.m H:i') }}"?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    <button type="button" class="btn btn-danger"><a href="{{ path('cancel_reservation', {id: user.id, reservation_id: reservation.id}) }}">Yes</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h2 class="center">You don't have reservations!</h2>
        {% endif %}
    </div>
    </div>
{% endblock %}