<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/logo.png') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg header transparent-header">
        <div class="container-fluid">
            {% if app.user %}
                {% if 'ROLE_SALON_OWNER' in app.user.roles %}
                    <a class="navbar-brand ms-4" href="{{ path('app_owner_dashboard', {id: app.user.id}) }}">
                        <div class="logo">
                            <img src="{{ asset('build/images/logo.png') }}" alt="hair_salon_logo">
                            <h2 class="logo-text">HairSalons</h2>
                        </div>
                    </a>
                {% else %}
                    <a class="navbar-brand ms-4" href="{{ path('app_home') }}">
                        <div class="logo">
                            <img src="{{ asset('build/images/logo.png') }}" alt="hair_salon_logo">
                            <h2 class="logo-text">HairSalons</h2>
                        </div>
                    </a>
                {% endif %}
            {% else %}
                <a class="navbar-brand ms-4" href="{{ path('app_home') }}">
                    <div class="logo">
                        <img src="{{ asset('build/images/logo.png') }}" alt="hair_salon_logo">
                        <h2 class="logo-text">HairSalons</h2>
                    </div>
                </a>
            {% endif %}
            <div>
                {% set admin = false %}
                {% if app.user %}
                {% for role in app.user.roles %}
                {% if role =='ROLE_ADMIN' %}
                    {% set admin = true %}
                {% endif %}
                {% endfor %}
                {% endif %}
                <ul class="navbar-nav me-3 mb-2 mb-lg-0 navbar-links">
                {% if admin %}
                    <li class="nav-item">
                <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_salon') }}">Salon Offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">About us</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item dropdown me-5">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                My profile
                            </a>
                            <ul class="dropdown-menu">
                                {% for role in app.user.roles %}
                                    {% if role == 'ROLE_SALON_OWNER' %}
                                        <li><a class="dropdown-item" href="#">My Salon</a></li>
                                        <li><a class="dropdown-item" href="#">Salon's Working Hours</a></li>
                                        <li><a class="dropdown-item" href="#">Salon's Services</a></li>
                                        <li><a class="dropdown-item" href="#">My hairdressers</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% endif %}
                                    {% if role == 'ROLE_USER' %}
                                        <li><a class="dropdown-item" href="{{ path('app_user_profile') }}">Edit Profile Info</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_change_password') }}">Change Password</a></li>
                                        <li><a class="dropdown-item" href="#">My Reservations</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item"  href="{{ path('app_logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_login') }}">Login</a>
                    </li>
                    {% endif %}
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible mb-0">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger mb-0">{{ message }}</div>
    {% endfor %}

        {% block body %}{% endblock %}

    <footer>
        <div class="bg-dark text-light footer-wrapper">
            <div class="navbar-brand ms-4 footer-logo">
                <div class="footer-logo-wrapper">
                    <img src="{{ asset('build/images/footer-logo.png') }}" alt="hair_salon_logo">
                    <h2 class="logo-text">HairSalons</h2>
                </div>
                <div class="developed">
                    <p>Developed by Ivona & Sara</p>
                </div>
            </div>
                <div class="pt-4 footer-section">
                    <h5>Social Media</h5>
                    <ul>
                        <li><a href="#"><img src="{{ asset('build/images/instagram.png') }}" alt="instagram"><p>instagram</p></a></li>
                        <li><a href="#"><img src="{{ asset('build/images/facebook.png') }}" alt="facebook"><p>facebook</p></a></li>
                        <li><a href="#"><img src="{{ asset('build/images/twitter.png') }}" alt="twitter"><p>twitter</p></a></li>
                    </ul>
                </div>
                <div class="pt-4 footer-section">
                    <h5>Become a Member</h5>
                    <ul>
                        <li><a href="{{ path('app_register') }}"><img src="{{ asset('build/images/customer.png') }}" alt="instagram"><p>I'm a customer</p></a></li>
                        <li><a href="{{ path('app_salon_create') }}"><img src="{{ asset('build/images/owner.png') }}" alt="instagram"><p>I'm a salon owner</p></a></li>
                    </ul>
                </div>
            <div class="footer-image">
                <img src="{{ asset('build/images/footer.png') }}" alt="footer_img">
            </div>
        </div>
    </footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('header') }}
    {% endblock %}
    </body>
</html>
