{% extends 'base.html.twig' %}

{% block title %}Salon owner dashboard{% endblock %}

{% block body %}
    <div class="plant-bg" style="height: fit-content">
        <div class="w-50 mx-auto text-white">
            <h1>{{ salon.name }}</h1>
            <h2>Add hairdresser to your salon!</h2>
            <div class="alert alert-danger w-50 mx-auto my-4" id="alertHairdresser" style="display: none"></div>
            {{ form_start(hairdresserCreateForm) }}
            {{ form_widget(hairdresserCreateForm) }}
            <br>
            <button type="submit" class="btn blue-button">Add</button>
            {{ form_end(hairdresserCreateForm) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('hairdresserCreate') }}
{% endblock %}