{% extends 'base.html.twig' %}

{% block title %}Salon owner dashboard{% endblock %}

{% block body %}
    <div class="plant-bg  plant-height">
        <div class="w-50 m-auto">
            <h1>{{ salon.name }}</h1>
            <div>
                {{ form_start(form)}}
                {{ form_widget(form) }}
                <img src="{{ asset('build/images/uploads/'~ salon.imagePath) }}" alt="img" height="200" style="border-radius: 6px">
                <br>
                <button class="btn blue-button" type="submit">Update</button>
                {{ form_end(form)}}
            </div>
        </div>
    </div>

{% endblock %}