{% extends 'base.html.twig' %}

{% block title %}Salon owner dashboard{% endblock %}

{% block body %}
<div class="plant-bg">
    <div class="w-75 mx-auto">
        <h1 class="mt-4">{{ salon.name }} Reservations</h1>
        {% if reservations %}
            <table class="table table-dark table-hover" id="dataTable">
                <thead>
                <tr>
                    <th>Salon</th>
                    <th>Hairdresser</th>
                    <th>Services</th>
                    <th>Start at</th>
                    <th>End at</th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.getHairdresser().getHairdresserDetails().getSalon().getName() }}</td>
                        <td>{{ reservation.hairdresser }}</td>
                        <td>
                            {% for service in reservation.getReservationServices() %}
                                <p>{{ service.service.getName() }}</p>
                            {% endfor %}
                        <th>
                            {% if reservation.canceled %}
                                {{ reservation.startAt|date('d.m H:i') }} / Canceled
                            {% elseif "now"|date('d.m H:i') <  reservation.startAt|date('d.m H:i') %}
                                {{ reservation.startAt|date('d.m H:i') }}
                            {% else %}
                                Archived
                            {% endif %}
                        </th>
                        <th>
                            {% if reservation.canceled %}
                                {{ reservation.endAt|date('d.m H:i') }} / Canceled
                            {% elseif "now"|date('d.m H:i') <  reservation.endAt|date('d.m H:i') %}
                                {{ reservation.endAt|date('d.m H:i') }}
                            {% else %}
                                Archived
                            {% endif %}
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 class="center">You don't have reservations!</h2>
        {% endif %}

    </div>
</div>

{% endblock %}