{% extends 'base.html.twig' %}

{% block title %}Salon owner dashboard{% endblock %}

{% block body %}
    <div class="plant-bg  plant-height">
        <div class="m-auto">
            <h1 class="mt-4">{{ salon.name }}</h1>
            <h3 class="text-white">Working hours</h3>
            <div class="alert alert-danger w-50 mx-auto my-3" id="alertWH" style="display: none"></div>
            <div class="text-white">
                {{ form_start(form, {'attr' : {'class': 'working-hours-form'}})}}

                {{ form_widget(form) }}
                <button class="btn blue-button" type="submit">Update</button>
                {{ form_end(form)}}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('workingHours') }}
{% endblock %}