{% extends 'base.html.twig' %}

{% block title %}My Reservations{% endblock %}

{% block body %}
    <div class="plant-bg" style="height: fit-content">
        <div class="mx-auto my-res">
            <h1 class="mb-3">My Reservations</h1>

            {% if reservations %}
            <table class="table table-info align-middle table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>Salon</th>
                        <th>Hairdresser</th>
                        <th>Services</th>
                        <th>Start at</th>
                        <th>End at</th>
                        <th>Cancel</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.getHairdresser().getHairdresserDetails().getSalon().getName() }}</td>
                        <td>{{ reservation.hairdresser }}</td>
                        <td>
                            {% for service in reservation.getReservationServices() %}
                                <p>{{ service.service.getName() }}</p>
                            {% endfor %}
                        <td>
                                {% if reservation.canceled %}
                                    {{ reservation.startAt|date('d.m. H:i') }} / Canceled
                                {% elseif date() <  reservation.startAt %}
                                    {{ reservation.startAt|date('d.m. H:i') }}
                                {% else %}
                                    Archived
                                {% endif %}
                        </td>
                        <td>
                            {% if reservation.canceled %}
                                {{ reservation.endAt|date('d.m. H:i') }} / Canceled
                            {% elseif date() <  reservation.endAt %}
                                {{ reservation.endAt|date('d.m. H:i') }}
                            {% else %}
                                Archived
                            {% endif %}
                        </td>
                        <td>
                            {% if reservation.canceled %}
                                <b>Canceled!</b>
                            {% elseif date() >  reservation.endAt %}
                                <button class="btn btn-dark disabled">Cancel</button>
                            {% else %}
                                <button type="reset" class="btn {{ reservation.canceled?"btn-danger":"btn-success" }} "data-toggle="modal" data-target="#modal{{ reservation.id }}">
                                    {{ reservation.canceled?"Canceled":"Cancel" }}
                                </button>
                            {% endif %}
                        </td>
                        <div class="modal fade" id="modal{{ reservation.id }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ reservation.id }}Label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cancel Reservation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to cancel reservation "{{ reservation.startAt|date('d.m H:i') }}"?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                        <button type="button" class="btn btn-danger"><a href="{{ path('cancel_reservation', {id: user.id, reservation_id: reservation.id}) }}">Yes</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <td>
                            {% set stars = 0 %}
                            {% for rate in ratings %}
                                {% if rate.salon.id == reservation.hairdresser.hairdresserDetails.salon.id %}
                                    {% set stars = stars + rate.rate %}
                                {% endif %}
                            {% endfor %}
                            {% if reservation.endAt < date() and not reservation.canceled %}
                                {% if stars > 0 %}
                                    <div class="text-center">
                                        {% for i in 1..stars %}
                                            <img src="{{ asset('build/images/star_icon.png') }}" alt="star" width="22" height="22">
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <a href="{{ path('app_rate_salon', {id:reservation.customer.id, salon_id: reservation.hairdresser.hairdresserDetails.salon.id}) }}">
                                        <button class="btn btn-warning">RATE!</button>
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if stars > 0 %}
                                    <div class="text-center">
                                        {% for i in 1..stars %}
                                            <img src="{{ asset('build/images/star_icon.png') }}" alt="star" width="22" height="22">
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <button class="btn btn-dark disabled">RATE!</button>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h2 class="center">You don't have reservations!</h2>
            {% endif %}

        </div>
    </div>

{% endblock %}